<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredient Manager</title>

    <link rel="apple-touch-icon" sizes="180x180" href="favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon_io/favicon-16x16.png">
    <link rel="manifest" href="favicon_io/site.webmanifest">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="/javascripts/materialize.min.js"></script>
    <!-- initialize Materialize elements -->
    <script src="/javascripts/ingredientJS.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/stylesheets/homeStyle.css">
</head>
<body class = "purple lighten-5">
    <%- include("partials/navbar") %>
    
    <div class = "container center-align">
        <h1>Welcome to the Ingredient Manager!</h1>
        <h3>This will help you manage your bulk inventory of ingredients for cooking and baking!</h3>
        <a class = "waves-effect waves-light btn-large purple lighten-2" href = "/inventory">
        Let's get started!
        <i class = "material-icons right">arrow_forward</i>
        </a> 
        <img src = "images/homepageImage.webp" alt = "an aesthetic arrangement of baking supplies against a purple backdrop" height = "350" width = "500">
    </div>
</body>
</html>