html {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

form {
    border: solid 2px rgb(183, 159, 192);
    padding: 20px;
    border-radius: 5px;
}

form:focus-within {
    color: purple;
}

.space {
    padding-bottom: 50px;
}

.modal {
    width: 85% !important;
}

.datepicker-modal {
    width: 75% !important;
    max-height: 75% !important;
}